.prosecing-section {
  padding: 0 0 60px 0;
}

.posecing-card-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.posecing-card {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--color-gray);
  border: 1px solid var(--color-dark);
  border-radius: 45px;
  padding: 41px 60px;
  box-shadow: 0 5px 0 0 var(--color-dark);

  font-size: 0px;
}
.card-number {
  font-weight: 500;
  font-size: 60px;
}

.posecing-card-title {
  display: flex;
  justify-content: space-between;
}
.posecing-card-name {
  display: flex;
  gap: 20px;

  align-items: center;
}

.plus-button {
  background-image: url(../images/plus.png);
  background-color: var(--color-gray);
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  background-position: center;
}

.posecing-card:hover {
  background-color: var(--color-brand);
  gap: 0px;
}

.posecing-card:hover .card-text {
  font-size: 18px;
  margin-top: 60px;
}

.card-name {
  font-weight: 500;
  font-size: 30px;
}

.posecing-card:hover .plus-button {
  background-image: url(../images/minus.png);
}
.posecing-card:hover::after {
  position: relative;
  content: '';
  border: 1px solid var(--color-dark);
  width: 1114px;
  height: 0;
  top: -100px;
  left: 0;
}

.card-text {
  transition: 0.3s;
}
